/*Adding fonts*/
p{
    font-family: "Ubuntu", sans-serif;
}
h1{
    font-family: "Lilita", sans-serif;
}
h2{
    font-family: "Lilita", sans-serif;
}
h3{
    font-family: "Lilita", sans-serif;
}
/*Navigation*/
.navBar{
    border: 1px solid red;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.logoBig{
    font-size: 40px;
    font-family: "Leckerli One", sans-serif;
}

.navItems ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid red;
}

.navItems li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    border: 1px solid red;
}

/*Hero img/About me*/

/*Project cards*/

/*Footer*/